<html>
<head></head>

<body>
  <header>
    <h1>SavvySoftWorks</h1>
    <hr>
  </header>

  <content>
    <table>
      <% @form_data.each do | key, value | %>
        <tr>
          <td><%= key %>:&nbsp;</td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  </content>
  <footer>
    <p><%= @time %></p>
  </footer>
</body>
</html>
